/* 
  Standard colours:
    #92278F - deeper purple
    #ec008c - pink stripe
    #fdf4f7 - background colour
    #f9d4e4 - footer background pink

*/

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ddd;
  color: #333;
}

body, #page-footer {
  font-family: arial, sans-serif;
}

h1, h2, h3, h1 a, h2 a, h3 a {
  color: #92278F;
  text-shadow: 1px 1px 3px #f6a;
  text-decoration: none;
}

th {
  text-align: left;
  background-color: #92278F;
  color: #d8d8d8;
  padding: 5px;
}

td {
  vertical-align: top;
}

#main-block {
  width: 85%;
  margin: 0 auto 0 auto;
  padding: 0 15px;
  background-color: #fdf4f7;
  color: #333;
  font-family: Garamond, Georgia, Palatino, "Times New Roman", Times, Serif;
}

#header-dark-strip {
  height: 40px;
  width: 100%;
  background-color: #92278F;
  border-bottom: 2px solid #ec008c;
	color: #fdf4f7;
}

#inner, #inner a {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 700;
  text-decoration: none;
  color: #fdf4f7;
}

#inner form, #inner form label, #inner form input, #user-access {
  display: inline;
}

#inner form { margin: 0 20px;}

#site-nav, #site-nav a, #user-access, #user-access a, #user-access form {
  font-weight: 100;
  display; inline;
  font-size: 12px;
  vertical-align: middle;
}

#site-nav, #user-access { padding-left: 20px}

#page-header {
  padding: 0; margin: 0;
}

#logo-area {
  padding: 10px 0 ; margin: 0;
}

#flash-notice {
  color: white;
  background-color: green;
  padding: 20px;
}

#admin-menu {
  background-color: #f9d4e4;
  color: #92278F;
  padding: 10px;
  line-height: 125%;
}

#breadcrumbs {
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  font-size: 70%;
}

#page-content {
  min-height: 600px;
}

.fp-photo-1 {
  width: 300px;
  padding-right: 10px;
}

.finished-product {
  vertical-align: top;
  margin: 0; padding: 0;
  margin-bottom: 10px;
}

.finished-product h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.fp-photo-2 {
  padding: 20px;
  border: 1px solid #ec008c;
  background-color: #f9d4e4;
  margin-bottom: 20px;
  height: 400px;
}

#google-search-result {
  background-color: white;
  padding: 20px;
  width: 60%;
  margin-left: 20px;
  margin-bottom: 40px;
}

#window-title {
  color: blue;
  text-decoration: underline;
}

#green-link {
  color:green;
}

#search-text {
  width:60%;
}

#special-occasions #selected {
  background-color: #ec008c;
}

#special-occasions a {
  background-color: #92278F;
  color: #fdf4f7;
  padding: 10px 15px;
  text-decoration: none;
}

#special-occasions a:hover {
  background-color: #ec008c;
}

#special-occasions #menu-design-your-own {
  background-color: #fc0044;
}


.form-label, .form-label label {
  display: inline-block;
  width: 150px;
  vertical-align: top;
}

.actions {
  padding: 20px 0;
}

#page-footer {
  margin: 50px 0 0px 0;
  padding: 15px 25px;
  border-top: 1px solid #92278F;
  font-size: 70%;
  background-color:#f9d4e4;
  color:#92278F;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
