body {
  width: 90%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #dcc;
  color: #333;
  font-family: arial, sans-serif;
}

th {
  text-align: left;
  background-color: #333;
  color: #ccc;
  padding: 5px;
}

#admin-menu {
  background-color: #f99;
}

#google-search-result {
  background-color: white;
  padding: 20px;
  width: 60%;
  margin-left: 20px;
  margin-bottom: 40px;
}

#window-title {
  color: blue;
  text-decoration: underline;
}

#green-link {
  color:green;
}

#search-text {
  width:60%;
}

.form-label, .form-label label {
  width: 150px;
  vertical-align: top;
}

.actions {
  padding: 20px 0;
}

#page-footer {
  margin: 50px 0 15px 0;
  padding: 15px 0;
  border-top: 1px solid #666;
  font-size: 80%;
  
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
