<h1>Checkout is Complete!</h1>
<p>
  Thank you for your business.<br/>
  Details of your transaction are shown below.
</p>

<%= render "show_cart" %>

<%= link_to "Return to the home page", root_url %>