<h1>Unique hand-made cakes for your special occasion</h1>
<% if @special_occasions %>
  <ul id="special-occasions">
    <% @special_occasions.each do |so| %>
      <li><%= so.name %></li>
    <% end %>
  </ul>
<% end %>