<h1>Unique hand-made cakes for <br/>your special occasion</h1>

<%= render 'special_occasions_navbar' %>

<div id="breadcrumbs">You are here: <%= link_to "home", root_url %>
  <% if @special_occasion %>
    &rarr; <%= @special_occasion.name %>
  <% end %>
</div>

<% @finished_products.each do |fp| %><% @fp = fp %>
  <%= render :partial => "show_product_strip" %>
<% end %>

<% if @finished_products.count == 0 %>
  <p>Sorry, we have no creations on show in this category right now.</p>
<% end %>
